.card {
    margin: 10px;
    width: 100;
    border: solid 1px rgb(30, 30, 90);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #283b55;
    }
    .img-fluid {
    width: 35%;
    }